<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    <link rel="stylesheet" href="styles.css">
</head> -->
<body>
    <div class="sidebar">
        <h2>Attendance Portal</h2>
        <ul>
            <li><a href="#">Add Standard</a></li>
            <li><a href="#">Add Division</a></li>
            <li><a href="#">Add Staff</a></li>
            <li><a href="#">Manage Complain</a></li>
            <li><a href="#">Leave Reports</a></li>
            <li><a href="#">Manage Reports</a></li>

        </ul>
    </div>

    <div class="content">
        <h1>Welcome to Dashboard</h1>
        <p>We Can Have Your Request</p>
    </div>
</body>
<style>
    body{
        background-image: ("Image1.jpg");
    }
</style>
</html>
